<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Stock Trading System</title>
</head>
<body>
    <h1>Welcome to the Stock Trading System</h1>
    <p>This is your first Flask-rendered page!</p>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>